### Lists and Tuples

In [1]:
# Create Simple Lists
list1=['Michael Jordan',98.1,1966]
list1

['Michael Jordan', 98.1, 1966]

In [4]:
# Print the elements on each index

print('The same element using negative and positive indexing:\n Postive:',list1[0],
'\n Negative:' , list1[-3]  )
print('The same element using negative and positive indexing:\n Postive:',list1[1],
'\n Negative:' , list1[-2]  )
print('The same element using negative and positive indexing:\n Postive:',list1[2],
'\n Negative:' , list1[-1]  )

The same element using negative and positive indexing:
 Postive: Michael Jordan
 Negative: Michael Jordan
The same element using negative and positive indexing:
 Postive: 98.1
 Negative: 98.1
The same element using negative and positive indexing:
 Postive: 1966
 Negative: 1966

### List Operations

In [5]:
#List Slicing
list1=['Michael Jordan',99.8,1966,"MJ",10]
list1[3:5] #Displays list elements starting from index 3 and right before index 5(which means stops at index 4)

['MJ', 10]

In [6]:
# Use extend to add elements to list

list1 = [ "Michael Jordan", 9.8]
list1.extend(['NBA', 10])
list1

['Michael Jordan', 9.8, 'NBA', 10]

In [7]:
# Use append to add elements to list
# Unlike extend, 'append' adds only one list element to the existing list

list1 = [ "Michael Jordan", 10.2]
list1.append(['NBA', 10])
list1

['Michael Jordan', 10.2, ['NBA', 10]]

In [8]:
# Change the element based on the index

list2 = ["NBA", 10, 1.2]
print('Before change:', list2)
list2[0] = 'Football'
print('After change:', list2)

Before change: ['NBA', 10, 1.2]
After change: ['Football', 10, 1.2]

In [9]:
# Delete the element based on the index

print('Before change:', list2)
del(list2[0]) #Deletes the first element in the list
print('After change:', list2)

Before change: ['Football', 10, 1.2]
After change: [10, 1.2]

In [10]:
# Split the string, default is by space

'Football Game'.split()

['Football', 'Game']

In [11]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

### Copy and Clone List

In [12]:
# Copy (copy by reference) the list A

A = ["Football", 10, 1.2]
B = A # Lets both lists to reference to the same list object
print('A:', A)
print('B:', B)

A: ['Football', 10, 1.2]
B: ['Football', 10, 1.2]

In [16]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('After Change of A, B[0]:', B[0]) # Still references to the same objec A is referencing
print('A[0]:', A[0]) #Both Lists still reference to the same lisr object

B[0]: banana
After Change of A B[0]: banana
A[0]: banana

In [17]:
# Clone (clone by value) the list A

B = A[:] # Cloning
B

['banana', 10, 1.2]

In [18]:
print('B[0]:', B[0])
A[0] = "hard rock" # at this point list B stays or references to the original list and there will be no change
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

### Task-1 
##### Create An Empty List for shopping

In [19]:
shopping_list=[]

### Task-2: Store the number of items to the shopping_list
* Watch
* Laptop
* Shoes
* Pen
* Clothes


<br>

In [25]:
shopping_list=["Watch","Laptop","Shoes","Pen","Clothes"]
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

### Task-3 Add a new item ['Football'] to the shopping_listÂ¶

In [36]:
shopping_list.append('Football')

In [37]:
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

### Task-4 Print First item from the shopping_list

In [38]:
shopping_list[0]

'Watch'

### Task-5 Print Last item from the shopping_list

In [39]:
shopping_list[-1]

'Football'

### Task-6 Print the entire Shopping List

In [40]:
shopping_list

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [ ]:
### Task-7 Print the item that are important to buy from the Shopping List (Laptop and Shoes)

In [41]:
# We use slicing to choose only inportant items to buy
shopping_list[1:3] # selects list starting at index 1[Laptop] and index 2[shoes]

['Laptop', 'Shoes']

### Task-8 Change the item from the shopping_list

In [44]:
#Instead of "Pen" we want to buy "Notebook" let's change the item stored in the list.
shopping_list[3] = "Notebook" # Pen is founfd at index 3 and we point to that index and change it to Notebook
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Clothes', 'Football']

### Task-9 Delete the item from the shopping_list that is not required

In [45]:
#Let's delete items that are unimportant, such as; I don't want to buy Clothes, let's delete it.
del (shopping_list[4]) # item 'Clothes' is found at index number 4 and we delete it
shopping_list

['Watch', 'Laptop', 'Shoes', 'Notebook', 'Football']

# Tuples

In [46]:
# Create your first tuple
# Unlike Lists we create Tuples with brackets while Lists are created with square brackets

tuple1 = ("Python",3.8,2024,"Python.org" )
tuple1

('Python', 3.8, 2024, 'Python.org')

In [47]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])

Python
3.8
2024
Python.org

In [48]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))
print(type(tuple1[2]))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

In [49]:
# Use negative index to get the value of the last element

tuple1[-1]

'Python.org'

# <h3 id="concate">Concatenate Tuples</h3>

In [50]:
# Concatenate two tuples

tuple2 = tuple1 + ("Java", 15)
tuple2

('Python', 3.8, 2024, 'Python.org', 'Java', 15)

# <h3 id="slice">Slicing</h3>

In [51]:
# Slice from index 0 to index 2

tuple2[0:3] # Print items starting from index 0 to index right before 3

('Python', 3.8, 2024)

In [52]:
# Slice from index 3 to index 4

tuple2[3:5]

('Python.org', 'Java')

In [53]:
# Get the length of tuple

len(tuple2)

6

# <h3 id="sort">Sorting</h3>

In [58]:
# A sample tuple

numbers = (0, 9, 6, 5, 10, 8, 9, 6, 2)

# Sort the tuple

NumbersSorted = sorted(numbers) # Tuples are immutable so we have to create a new tuple to manipulate it
print('After Sorted:',NumbersSorted)
print('Original Tuple:',numbers)

After Sorted: [0, 2, 5, 6, 6, 8, 9, 9, 10]
Original Tuple: (0, 9, 6, 5, 10, 8, 9, 6, 2)

# <h3 id="nest">Nested Tuple</h3>

In [59]:
# Create a nest tuple

NestedT =(1, 2, ("NBA", "Soccer") ,(3,4),("Shot",(1,2)))
NestedT

(1, 2, ('NBA', 'Soccer'), (3, 4), ('Shot', (1, 2)))

In [60]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('NBA', 'Soccer')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('Shot', (1, 2))

In [61]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'S'

In [62]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [63]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [64]:
#Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [65]:
# Obtain Elements of at indices 3,4,5
genres_tuple[3:6] # We use Slicing

('hard rock', 'soft rock', 'R&B')

In [66]:
#Find the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [ ]:
#Find the index of 's' in "disco":